<style>
  .install-guide-list {
    list-style: none;
    line-height: 1.75;
  }
</style>

<ul class="install-guide-list">
  {% paginate shop.metaobjects.install_guide.values by 50 %}
    {% assign sortable = shop.metaobjects.install_guide.values | sort_natural: 'row' %}
    {% for file_object in shop.metaobjects.install_guide.values %}
      <li>
        <a href="{{ file_object.file.value.url  }}">{{ file_object.t_itle }}</a>
      </li>
    {% endfor %}
    {%
      render 'pagination', paginate: paginate,
      grid_list: true
    %}
  {% endpaginate %}
</ul>

