{% paginate shop.metaobjects.install_guide.values by 250 %}
  {% for file_object in shop.metaobjects.install_guide.values %}
    {{ file_object | json }}
    <a href="{{ file_object.file.url  }}">{{ file_object.t_itle }}</a>
  {% endfor %}
{% endpaginate %}