{% paginate shop.metaobjects.install_guide.values by 250 %}
  {% for file_object in shop.metaobjects.install_guide.values %}
    <a href="{{ file_object.file.value.url  }}">{{ file_object.t_itle }}</a>
  {% endfor %}
{% endpaginate %}